<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <!-- Connection Strings added for different PCs -->
  <connectionStrings>
    <add name="DBSCU" connectionString="Data Source=SRV09\MSSQLSTUDENT;Initial Catalog=10171569;Integrated Security=True"/>
    <add name="Mike-College" connectionString="Data Source=SRV09\MSSQLSTUDENT;Initial Catalog=10182914;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="DBSCU_Rob_Home" connectionString="Data Source=LORNAPC\SQLEXPRESS;Initial Catalog=DBSCreditUnion;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!-- Stored sortcode, BIC, and IBAN -->
  <appSettings>
    <add key="DBSCUsortcode" value="101010" />
    <add key="DBSCUBIC" value="DBSCUB8IT056" />
    <add key="DBSCUIBAN" value="IE101010" />
  </appSettings>
</configuration>